<link rel="stylesheet" href="/style.css" type="text/css" media="all" />
<!-- nav -->
<div class="topnav" id="myTopnav">
  <a href="/" class="active">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Videos<i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a onclick="lick(this)">grade 1 <div class="dr">
        <a href="#math">#math</a>
        <a href="#chemistry">#chemistry</a>
        <a href="#biology">#biology</a>
      </div></a>
      <a onclick="lick(this)">grade 2</a>
      <a onclick="lick(this)">grade 3</a>
      <a onclick="lick(this)">grade 4</a>
      <a onclick="lick(this)">grade 5</a>
      <a onclick="lick(this)">grade 6</a>
      <a onclick="lick(this)">grade 7</a>
      <a onclick="lick(this)">grade 8</a>
      <a onclick="lick(this)">grade 9</a>
      <a onclick="lick(this)">grade 10</a>
      <a onclick="lick(this)">grade 11</a>
      <a onclick="lick(this)">grade 12</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Books<i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a onclick="lick(this)">grade 1</a>
      <a onclick="lick(this)">grade 2</a>
      <a onclick="lick(this)">grade 3</a>
      <a onclick="lick(this)">grade 4</a>
      <a onclick="lick(this)">grade 5</a>
      <a onclick="lick(this)">grade 6</a>
      <a onclick="lick(this)">grade 7</a>
      <a onclick="lick(this)">grade 8</a>
      <a onclick="lick(this)">grade 9</a>
      <a onclick="lick(this)">grade 10</a>
      <a onclick="lick(this)">grade 11</a>
      <a onclick="lick(this)">grade 12</a>
    </div>
  </div>
  <a href="/contact">Contact</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  <a href="/about">About us</a>
</div>
<!-- nav -->
<!-- about -->
<article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor erat eu nibh commodo, ut condimentum lorem efficitur. Mauris ac blandit lorem, quis dapibus enim. Pellentesque in condimentum dui. Proin non convallis justo. Curabitur luctus velit id orci finibus pulvinar. Proin nec quam at magna aliquam facilisis quis vel justo. Aliquam erat volutpat. Aliquam erat volutpat.</article>
<!-- about -->
<!-- footer -->
<footer>
<div class="row copyright">
  <div class="footer-menu">

  <a href="">Home</a>
  <a href="">About</a>
  <a href="">Contact</a>
  <a href="">Blog</a>
  <a href="">Social</a>

  </div>
   <p>Copyright &copy; 2021 els</p>
</div>
</footer
>
<!-- footer -->
<script src="/script.js" type="text/javascript" charset="utf-8"></script>
