<link rel="stylesheet" href="/style.css" type="text/css" media="all" />
<!-- nav -->
<div class="topnav" id="myTopnav">
  <a href="/" class="active">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Videos<i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a onclick="lick(this)">grade 1 <div class="dr">
        <a href="#math">#math</a>
        <a href="#chemistry">#chemistry</a>
        <a href="#biology">#biology</a>
      </div></a>
      <a onclick="lick(this)">grade 2</a>
      <a onclick="lick(this)">grade 3</a>
      <a onclick="lick(this)">grade 4</a>
      <a onclick="lick(this)">grade 5</a>
      <a onclick="lick(this)">grade 6</a>
      <a onclick="lick(this)">grade 7</a>
      <a onclick="lick(this)">grade 8</a>
      <a onclick="lick(this)">grade 9</a>
      <a onclick="lick(this)">grade 10</a>
      <a onclick="lick(this)">grade 11</a>
      <a onclick="lick(this)">grade 12</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Books<i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a onclick="lick(this)">grade 1</a>
      <a onclick="lick(this)">grade 2</a>
      <a onclick="lick(this)">grade 3</a>
      <a onclick="lick(this)">grade 4</a>
      <a onclick="lick(this)">grade 5</a>
      <a onclick="lick(this)">grade 6</a>
      <a onclick="lick(this)">grade 7</a>
      <a onclick="lick(this)">grade 8</a>
      <a onclick="lick(this)">grade 9</a>
      <a onclick="lick(this)">grade 10</a>
      <a onclick="lick(this)">grade 11</a>
      <a onclick="lick(this)">grade 12</a>
    </div>
  </div>
  <a href="/contact">Contact</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  <a href="/about">About us</a>
</div>
<% response=await fetch("/api/announcement"); %>
<% data=await response.json() %>
<% data.forEach((announcement)=>{ %>
<div class="announcement">
<h1><%= announcement.title %></h1>
<p><%= announcement.content %></p>
</div>
<% }) %>
