body{
background:#222;
margin: 0;
padding: 0;
}
form{
border-radius:20px;
background:lightblue;
display:grid;
place-self:center;
place-content:center;
place-items:center;
padding:10px;
}
input{
 padding:5px;
}
button:hover{
background:red;
}